
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from radixtouch.in/templates/snkthemes/grexa/source/light/email-compose.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Dec 2020 13:29:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Grexa - Admin Dashboard Template</title>
    <!-- General CSS Files -->
    <!-- Custom style CSS -->
    <link href="~/Content/assets/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/components.css" rel="stylesheet" />
    <link href="~/Content/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/assets/bundles/datatables/datatables.min.css" rel="stylesheet" />
    <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
                                <i class="fas fa-bars"></i>
                            </a>
                        </li>
                        <li>
                            <div class="search-group">
                                <span class="nav-link nav-link-lg" id="search">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="search-control" placeholder="search" aria-label="search" aria-describedby="search">
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li>
                        <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                            <i class="fas fa-expand"></i>
                        </a>
                    </li>

                  
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html">
                            <img alt="image" src="~/Content/assets/img/logo.png" class="header-logo" />
                         
                            <span class="logo-name">Grexa</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Voter Registration App</li>
                      
                      
                     
                       <li class="menu-header">Menue</li>
                        <li class="dropdown">
                            <a href="#" class="nav-link has-dropdown">
                                <i class="fas fa-leaf"></i><span>
                                  Registrations
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="alert.html">Region Registration</a></li>
                                <li><a class="nav-link" href="badge.html">District Registration</a></li>
                                <li><a class="nav-link" href="breadcrumb.html">Candidate Registration</a></li>
                                <li><a class="nav-link" href="buttons.html">Voter Registration</a></li>
                                <li><a class="nav-link" href="buttons.html">User Accounts</a></li>

                            </ul>
                        </li>
                     
                      
                     
                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                  
                    <div class="section-body">
                        @RenderBody()
                    </div>
                </section>
                <div class="settingSidebar">
                    <a href="javascript:void(0)" class="settingPanelToggle">
                        <i class="fa fa-spin fa-cog"></i>
                    </a>
                    <div class="settingSidebar-body ps-container ps-theme-default">
                        <div class=" fade show active">
                            <div class="setting-panel-header">Theme Customizer</div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">Theme Layout</h6>
                                <div class="selectgroup layout-color w-50">
                                    <label>
                                        <span class="control-label p-r-20">Light</span>
                                        <input type="radio" name="custom-switch-input" value="1"
                                               class="custom-switch-input" checked> <span class="custom-switch-indicator"></span>
                                    </label>
                                </div>
                                <div class="selectgroup layout-color  w-50">
                                    <label>
                                        <span class="control-label p-r-20">Dark&nbsp;</span>
                                        <input type="radio" name="custom-switch-input" value="2"
                                               class="custom-switch-input"> <span class="custom-switch-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Sidebar Colors</h6>
                            <div class="sidebar-setting-options">
                                <ul class="sidebar-color list-unstyled mb-0">
                                    <li title="white" class="active">
                                        <div class="white"></div>
                                    </li>
                                    <li title="blue">
                                        <div class="blue"></div>
                                    </li>
                                    <li title="coral">
                                        <div class="coral"></div>
                                    </li>
                                    <li title="purple">
                                        <div class="purple"></div>
                                    </li>
                                    <li title="allports">
                                        <div class="allports"></div>
                                    </li>
                                    <li title="barossa">
                                        <div class="barossa"></div>
                                    </li>
                                    <li title="fancy">
                                        <div class="fancy"></div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Theme Colors</h6>
                            <div class="theme-setting-options">
                                <ul class="choose-theme list-unstyled mb-0">
                                    <li title="white" class="active">
                                        <div class="white"></div>
                                    </li>
                                    <li title="blue">
                                        <div class="blue"></div>
                                    </li>
                                    <li title="coral">
                                        <div class="coral"></div>
                                    </li>
                                    <li title="purple">
                                        <div class="purple"></div>
                                    </li>
                                    <li title="allports">
                                        <div class="allports"></div>
                                    </li>
                                    <li title="barossa">
                                        <div class="barossa"></div>
                                    </li>
                                    <li title="fancy">
                                        <div class="fancy"></div>
                                    </li>
                                    <li title="cyan">
                                        <div class="cyan"></div>
                                    </li>
                                    <li title="orange">
                                        <div class="orange"></div>
                                    </li>
                                    <li title="green">
                                        <div class="green"></div>
                                    </li>
                                    <li title="red">
                                        <div class="red"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Layout Options</h6>
                            <div class="theme-setting-options">
                                <label>
                                    <span class="control-label p-r-20">
                                        Compact
                                        Sidebar Menu
                                    </span> <input type="checkbox"
                                                   name="custom-switch-checkbox" class="custom-switch-input"
                                                   id="mini_sidebar_setting"> <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mt-3 mb-3 align-center">
                            <a href="#"
                               class="btn btn-icon icon-left btn-outline-primary btn-restore-theme">
                                <i class="fas fa-undo"></i> Restore Default
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2020 <div class="bullet"></div> Design By <a href="#">Snkthemes</a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="~/Content/assets/js/app.min.js"></script>
    <script src="~/Content/assets/bundles/ckeditor/ckeditor.js"></script>
    <script src="~/Content/assets/js/page/ckeditor.js"></script>
    <script src="~/Content/assets/js/scripts.js"></script>
    <script src="~/Content/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
    <script src="~/Content/assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
    <script src="~/Content/assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
    <script src="~/Content/assets/bundles/datatables/export-tables/jszip.min.js"></script>
    <script src="~/Content/assets/js/page/datatables.js"></script>
    <script src="~/Content/assets/bundles/datatables/datatables.min.js"></script>
    @RenderSection("scripts", required: false)
</body>


<!-- Mirrored from radixtouch.in/templates/snkthemes/grexa/source/light/email-compose.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Dec 2020 13:29:53 GMT -->
</html>



   
    