@model IEnumerable<VouterApp.Models.RegionModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section-body">
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4>Region Info</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <p>
                            <a class="btn btn-danger" href="/Region/save/0" style="margin-bottom:20px; margin-top:20px;">Add New</a>
                        </p>
                        <table class=" table table-hover table-striped">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.RegionName)
                                </th>
                                <th> </th>
                                <th> Actions</th>


                            </tr>

                            @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegionName)
        </td>
        <td></td>
        <td>
            @Html.ActionLink("Edit", "Save", new { id = item.Id }, new { @class = "btn btn-danger" })


            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

                        </table>
                   </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>