@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index2</h2>
<div class="modal fade" id="myModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Welcome
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card" id="prinriri">
                    <div class="card-header">
                        <h4>Export Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table id="dataTable" class="table table-condensed  table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Name</th>
                                        <th>Edit</th>
                                        <th>Delete</th>

                                    </tr>
                                </thead>
                            </table>
                        </div>

                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="centerModal" tabindex="-1" role="dialog" data-backdrop="false"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Modal Content...
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<input type="submit" name="btnPrint" value="Print" id="btnPrint" />

                        @section scripts{
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#dataTable').DataTable({
                                        "ajax": {
                                            "url": "/Home/GetData",
                                            "type": "GET",
                                            "datatype": "json"
                                        },
                                        dom: 'Bfrtip',
                                        buttons: [
                                            'copy', 'csv', 'excel', 'pdf','print'
                                        ],
                                        "columns": [
                                            { "data": "Id" },
                                            { "data": "RegionName" },
                                           {
                                                 "render": function ( data, type, full, meta) {

                                                     return "<button type='button' class='btn btn-info btn-md' data-toggle='modal'  data-target='#myModal'> Edit </button>";
                                                }
                                           },
                                 {
                                     "data": "Id", "width": "50px", "render": function (data) {
                                         return "<button type='button' class='btn btn-info btn-md' data-toggle='modal'  data-target='#centerModal'> Edit </button>";
                                     }
                                 }
                                        ]
                                    })


                                });

                            </script>

<script type="text/javascript">
    $(function () {
        $('#btnPrint').click(function () {
            var doc = new jsPDF();
            doc.fromHTML($('#prinriri').html(), 15, 15, { 'width': 170 });
            doc.save('sample.pdf');
            return false;
        });
    });
</script>

                        }
