@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
            <div class="card-icon shadow-primary bg-cyan">
                <i class="fa fa-balance-scale" aria-hidden="true"></i>
            </div>
            <div class="card-body card-type-3">
                <div class="row">
                    <div class="col">
                        <h6 class="text-muted mt-2 mb-1">TOTAL REGISTERED</h6>
                        <h6 class="font-weight-bold mb-0">8,000</h6>
                    </div>
                </div>
            </div>
            <div class="card-chart mb-2 ml-4 mr-4">
                <div id="chart-1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
            <div class="card-icon shadow-primary bg-purple">
                <i class="fab fa-first-order"></i>
            </div>
            <div class="card-body card-type-3">
                <div class="row">
                    <div class="col">
                        <h6 class="text-muted mt-2 mb-1">TOTAL VOTE</h6>
                        <h6 class="font-weight-bold mb-0">4,500</h6>
                    </div>
                </div>
            </div>
            <div class="card-chart mb-2 ml-4 mr-4">
                <div id="chart-2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
            <div class="card-icon shadow-primary bg-hibiscus">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <div class="card-body card-type-3">
                <div class="row">
                    <div class="col">
                        <h6 class="text-muted mt-2 mb-1">REMAINED VOTES</h6>
                        <h6 class="font-weight-bold mb-0">3,500</h6>
                    </div>
                </div>
            </div>
            <div class="card-chart mb-2 ml-4 mr-4">
                <div id="chart-3"></div>
            </div>
        </div>
    </div>
</div>